*{
     margin: 0; 
     padding: 0; 
     box-sizing: border-box;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 nav {
     background-color: #333;
     padding: 1rem;
 }
 
 nav ul {
     list-style: none;
     display: flex;
     justify-content: center;
 }
 
 nav ul li {
     margin: 0 1rem;
 }
 
 nav ul li a {
     color: white;
     text-decoration: none;
     font-size: 1.2rem;
 }
 
 .wrapper{
     height: 100vh;
     overflow-x: hidden;
     perspective: 10px;
 }
 
 .container{
     position: relative; 
     display: flex; 
     justify-content: center;
     align-items: center; 
     height: 100%; 
     transform-style: preserve-3d;
     z-index: -1; 
 }
 
 .background, .foreground{
     position: absolute;
     height: 100%; 
     width: 100%; 
     z-index: -1;
     object-fit: cover;
 }
 
 .background{
     transform: translateZ(-40px) scale(5);
 }
 
 .foreground{
     transform: translateZ(-18px) scale(3);
 }
 
 h1{
     margin-top: -400px; 
     color: white; 
     font-size: 5rem;
     letter-spacing: 4px;
     text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
 }
 
 section{
     background-color: rgb(45, 45, 45);
     color: white; 
     padding: 5rem 0;
 }
 
 .secheading{
     font-size: 5rem;
     padding: 0 10rem; 
 }
 
 .text{
     font-size: 1.5rem;
     padding: 0 10rem; 
     margin: 5rem 0; 
 }
 
 .bg-1{
     background-image: url(person-using-ar-technology-perform-their-occupation_23-2151137435.jpg);
 }
 
 .bg-2{
     background-image: url(tech.jpg);
 }
 
 .bg-3{
     background-image: url(photo-portable-wireless-charging-solutions_933496-38473.jpg);
 }
 
 .bg{
     position: relative;
     width: 100%; 
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     height: 500px;
 }
 
 .desc{
     position: absolute;
     background-color: white;
     padding: 0.5rem 2.5rem; 
     top: 50%; 
     left: 50%; 
     margin-left: -150px; 
     color: black;
     font-size: 3.0rem;
     font-weight: 1.5rem;
     padding: 20px;
 }
 